footer {
    display: flex;
    flex-wrap: wrap;
}

.about {
    width: 40%;
    height: 350px;
    color: white;
    background-color: black;
    padding: 80px;
}

.imgBg {
    width: 20%;
    height: 350px;
    background-image: url("../../assets/f1.webp");
    background-size: cover;
}

.upcoming {
    width: 40%;
    height: 350px;
    color: white;
    background-color: rgba(126, 183, 228, 255);
    padding: 80px;
}

.footerHeader {
    font-size: 30px;
    font-weight: 600;
}

.footerPara {
    max-width: 350px;
    font-size: 13px;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 2;
    margin: 20px 0;
}

.footerBtn {
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    background: transparent;
    border: 1px solid white;
}

@media screen and (max-width: 1100px) {
    .about {
        width: 60%;
    }

    .imgBg {
        width: 40%;
    }

    .upcoming {
        width: 100%;
    }

}

@media screen and (max-width: 750px) {
    .about {
        width: 100%;
        padding: 20px;
    }

    .imgBg {
        width: 100%;

    }

    .upcoming {
        padding: 20px;
    }
}